body {
    background-color: #032b2b;
    color: #fdf1e7;
    margin: none;
      font-family: Arial, sans-serif;
  }
  #title, #description{
    text-align: center;
  }
  #legend {
    display: flex;
    position: absolute;
    top: 90px;
    left: 1000px;
  }
 
  #tooltip {
    position: absolute;
    background-color: #f0f0f0;
    display: none;
    height: auto;
    width: auto;
    padding: 10px;
    color: #000;
    font-size: 24px;
    pointer-events: none;
    border-radius: 5px;
  }
  .county:hover {
    fill: rgb(8, 40, 61);
  }